<p id="notice"><%= notice %></p>

<p>
  <strong>Asin:</strong>
  <%= @product.asin %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @product.rank %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @product.dimensions %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
