<p id="notice"><%= notice %></p>

<p>
  <strong>Asin:</strong>
  <%= check_for_nil(@product.asin) %>
</p>

<p>
  <strong>Product Name:</strong>
  <%= check_for_nil(@product.name) %>
</p>

<p>
  <strong>Category:</strong>
  <%= check_for_nil(@product.category) %>
</p>

<p>
  <strong>Rank:</strong>
  <%= check_for_nil(@product.rank) %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= check_for_nil(@product.dimensions) %>
</p>

<%= link_to 'New Product', new_product_path %>
